@font-face {
    font-family: 'acumin-pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #222222;
}


p.links {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    padding-left: 1vw;
    letter-spacing: 0.02em;
    top: 0px;
    margin: 0;
}

a.info,
a.press,
a.research:link {
    text-decoration: none;
    color: black;
}

a.info,
a.press,
a.research:visited {
    text-decoration: none;
    color: black;
}

a.info,
a.press,
a.research:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}


/*SITE - HEADER*/

#header {
    position: fixed;
    width: 100vw;
    display: block;
    height: 50px;
    top: 0;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    z-index: 3;
    background-color: rgb(222,222,219, 0.8);
}

p.header {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;
    cursor: default;
}

p.header2 {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.15em;
    letter-spacing: -0.1em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;

}

#research,
#terra,
#incog {
    margin-top: 0;
    float: left;
    top: 0px;
    width: 20vw;
}

#ta,
#info {
    margin-top: 0;
    float: left;
    top: 0px;
    width: 40vw;
}

#categories {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: auto;
}

#cats {
    position: relative;
    margin-top: 0;
    float: left;
    top: 0px;
    width: 20vw;
}

#cats2 {
    position: relative;
    margin-top: 0;
    float: left;
    top: 0px;
    width: 40vw;
}


/* PROJECTS */

p.grid {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    top: 0px;
    margin: 0;
    padding: 0;
    cursor: default;
}

p.grid-info {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    top: 0px;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

/*smaller alt of grid txt*/
p.gridalt {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;
    cursor: default;
}

p.gridalt2 {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 2.7em;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;
    cursor: default;
}


#projects {
    position: relative;
    height: auto;
    width: 98vw;
    margin: auto;
    top: 50px;
}

#projA {
    position: relative;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 15vh;
}

#projB {
    position: relative;
    height: auto;
    margin-top: 3vh;
}

#grid {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2vw;
    width: 98vw;
    height: auto;
    margin-top: 1vh;
    padding: 0;
}

#techs {
    margin-top: 0;
    display: block;
    float: left;
    top: 0px;
    width: 18vw;
}

/* GALERIAS JS */
#image_gallery:target~.image_view {
    transform: translateX(-0%);
}

#image_gallery:target~.image_view {
    transform: translateX(-100%);
}

img.image_view {
	width: 100%;
	height: auto;
	margin: auto;
}

#gallery-cover15, #gallery-cover16 {
    position: relative;
    object-fit: cover;
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;
    margin-top: 0.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.2s;
}

#gallery-contain14 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/14.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain13 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/13.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain12 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/12.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain11 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/11.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain10 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/10.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain09 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/09.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain08 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/08.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain07 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/07.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain06 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/06.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain05 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/05.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain04 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/04.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain03 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/03.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain02 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/02.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain01 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/01.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-contain00 {
    position: relative;
    object-fit: contain;
    background: url(landscapes/00.jpg);
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-cover13 {
    position: relative;
    object-fit: cover;
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;
    margin-top: 0.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

#gallery-cover09 {
    position: relative;
    object-fit: cover;
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: default;
    margin-top: 0.5vh;
}

#gallery-cover04 {
    position: relative;
    object-fit: cover;
    height: 680px;
    margin: 0;
    padding: 0;
    width: 98vw;
    z-index: 2;
    cursor: crosshair;
    margin-top: 0.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.1s;
}

/* TOGGLES */
.moreinfo {
    font-family: 'acumin-pro', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.15em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    top: 0px;
    margin: 0;
    padding: 0;
    cursor: default;
}

#about0,
#about1,
#about2,
#about3,
#about4,
#about5,
#about6,
#about7,
#about8,
#about9,
#about10,
#about11,
#about12,
#about13,
#about14,
#about15 {
    position: relative;
    display: none;
    height: auto;
    width: 38vw;
    float: right;
    padding-top: 2vh;
    padding-bottom: 3vh;
}


/*INFO*/

#about {
    display: relative;
    margin: 0;
    margin-top: 1vh;
    float: right;
    padding-right: 10vw;
    width: 70vw;
}

a.links:link {
    text-decoration: none;
    color: black;
    cursor: default;
}

a.links:visited {
    text-decoration: none;
    color: black;
    cursor: default;
}

a.links:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

#info-ta {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: auto;
    top: 70px;
}

#content-ta {
    position: relative;
    height: auto;
    display: grid;
    width: 98vw;
    grid-auto-flow: column;
    grid-column-gap: 2vw;
    margin-bottom: 3vh;
    padding: 0;
}

#about {
    margin-top: 0;
    float: left;
    top: 0px;
    width: 28vw;
}

p.about {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 1.15em;
    line-height: 1.15em;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 130%;
    top: 0px;
    margin: 0;
    cursor: default;
}

#subcat {
    position: relative;
    margin-top: 0;
    float: left;
    top: 0px;
    width: 18vw;
}

#subcat2 {
    position: relative;
    margin-top: 0;
    float: left;
    top: 0px;
    width: 18vw;
}

p.subcat {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 2em;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 2vw;
    top: 0px;
    margin: 0;
    cursor: default;
}

p.list {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.15em;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 95%;
    top: 0px;
    margin: 0;
    cursor: default;
}


/*RESEARCH*/

#researchcontent {
    margin-top: 0;
    float: left;
    top: 0px;
    width: 60vw;
}

.researchcontent {
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 1.15em;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;
    margin-bottom: 5vh;
    cursor: default;
}

.embed-container {
    --video--width: 1296;
    --video--height: 740;

    margin-bottom: 3vh;
    position: relative;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
    overflow: hidden;
    max-width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 97%;
}


footer {
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 10vh;
    margin-bottom: 1vh;
    position: fixed;
}


/*********** MOBILE ***********/
@media only screen and (max-width: 900px) {

    #categories {
        display: none;
    }

    #header {
        height: 150px;
    }

    #ta,
    #research,
    #info {
        margin-top: 0;
        float: left;
        top: 0px;
        width: 98vw;
    }

    #terra,
    #incog {
        width: 98vw;
    }

    #grid {
        display: block;
    }

    #techs {
        width: 98vw;
    }

    p.header2 {
        font-size: 1.9em;
        line-height: 1em;
    }

    #projects {
        top: 143px;
    }

    #projA {
        margin-bottom: 30vh;
    }
    
    #projB {
        margin-bottom: 110px;
    }

    #about0,
    #about1,
    #about2,
    #about3,
    #about4,
    #about5,
    #about6,
    #about7,
    #about8,
    #about9,
    #about10,
    #about11,
    #about12,
    #about13,
    #about14,
	#about15 {
        width: 98vw;
        float: left;
        margin-top: 0;
    }


    .moreinfo {
        font-size: 1em;
        line-height: 1.2em;
    }

    p.about {
        font-size: 1em;
        line-height: 1.2em;
        width: 105%;
    }

    p.researchcontent {
        font-size: 1em;
        line-height: 1.2em;
        width: 99%;
    }

    #gallery-contain00,
    #gallery-contain01,
    #gallery-contain02,
    #gallery-contain03,
    #gallery-contain04,
    #gallery-contain05,
    #gallery-contain06,
    #gallery-contain07,
    #gallery-contain08,
    #gallery-contain09,
    #gallery-contain10,
    #gallery-contain11,
    #gallery-contain12,
    #gallery-contain13,
    #gallery-contain14,
    #gallery-cover13,
    #gallery-cover09,
    #gallery-cover04,
	#gallery-cover15,
	#gallery-cover16 {
        height: 230px;
    }

    #info-ta {
        top: 143px;
        width: 98vw;
    }

    #content-ta {
        display: block;
        width: 98vw;
    }

    #about {
        width: 90vw;
        margin-bottom: 5vh;
    }

    #subcat {
        display: none;
    }

    #subcat2 {
        width: 98vw;
        margin-bottom: 2vh;
    }

    #researchcontent {
        width: 98vw;
        margin-top: 2vh;
    }

    .embed-container {
        margin-bottom: 2vh;
	}

}
